.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto; /* enables scroll */
    background-color: rgba(28, 28, 28, 0.2);
}

.modal-background:focus {
    outline: none;
}

.modal-window {
    background-color: #e9e9e9;
    margin: 10% auto;
    border: 2px solid #8c888c;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-window .section {
    padding: 8px 10px;
}

.modal-window > header {
    background-color: #d6d6d6;
    color: #797579;
}

.modal-window > header > span {
    font-size: 24px;
}

.modal-window footer {
    border-top: 1px solid #c0c0c0;
    text-align: right;
}

.modal-window button.modal-button {
    background: #d6d6d6;
    margin-left: 8px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid  #828282;
    color: #4a4a4a;
}

.modal-window button.modal-button:focus {
    outline: none;
    box-shadow: 0 0 3px #828282;

}
