.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto; /* enables scroll */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-window {
    background-color: lightgray;
    margin: 10% auto;
    border: 2px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
    border-radius: 8px;
}

.modal-window .section {
    padding: 8px 10px;
}

.modal-window > header {
    border: 1px solid darkgrey;
    background-color: darkgrey;
}

.modal-window > header > span {
    font-size: 24px;
}

.modal-window footer {
    border-top: 1px solid darkgrey;
    text-align: right;
}

.modal-window footer > button {
    margin-left: 5px;
}
