::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-right: 1px solid lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3a2a7;
}
