div.slide-icon-grid {
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 7fr;
    border-radius: 3px;
}

div.slide-icon-grid.active {
    background-color: #edebf0;
}

div.slide-icon-grid > .slide-info {
    font-size: 16px;
    text-align: center;
}

div.slide-icon-wrapper {
    display: grid;
    border-radius: inherit;
}

div.slide-icon-wrapper:hover {
    box-shadow: 0 0 3px #5e5e5e;
}



