.slide-placeholder {
    padding: 3em 3em;
}

.bordered {
    display: grid;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 4px dashed darkgrey;
    /*border-radius: 20px;*/
}

.bordered:hover > span {
    color: #8f8f8f;
}

.bordered:hover {
    border-color: #8f8f8f;
}

.bordered > span {
    font-size: 3em;
    color: darkgrey;
    font-weight: bold;
}

.bordered > span:hover {
    color: #6a6a6a;
}

