.slide-control {
    position: relative;
}

.slide-control > .controls {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
}

.slide-control > .controls.hovered {
    display: inline-grid;
}

.control {
    font-size: small;
    margin-bottom: 5px;
}
