.slide-control {
    position: relative;

}

.slide-control > .control {
    position: absolute;
    display: none;
}

.slide-control > .control.hovered {
    display: block;
}

.slide-control > .control.deleteControl {
    top: 5px;
    right: 7px;
    font-size: large;
}
