body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.grid {
    display: grid;
    padding: 8px;
    grid-template-columns: 3fr 11fr;
    grid-column-gap: 1em;
    grid-auto-rows: 98vh;
}

.box {
    border-radius: 3px;
    padding: 1vw;
    background-color: lightgray;
    box-shadow: 0 0 5px black;
}

.sidebar-grid {
    display: grid;
    grid-template-rows: 1fr 15fr;
    grid-row-gap: 1em;
}

.slides-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vh;
    grid-auto-rows: 25vh;
    overflow-y: scroll;
    font-size: 0.35em;
}

.slides-grid div.slide {
    border: 1px solid black;
    border-radius: 3px;
}

.add-slide {
    padding: 5px;
}

.add-slide-button {
    width: 100%;
    height: 100%;
}

label {
    display: block;
    margin: 1em 0;
}

/* slide-carousel */
div.carousel-grid {
    display: grid;

}

/* slide decoration */
div.header {
    text-align: center;
    font-size: 1em;
}

div.description {
    word-break: break-word;
    font-size: 1em;
    white-space: pre-line;
}

div.slide {
    background-color: white;
    border: 2px solid darkgrey;
    border-radius: 3px;
    padding: 2em;
    font-size: 1em;
    min-height: 100px;
    overflow: hidden;
}

div.slide-control {
    display: grid;
}
