.wrapper {
    display: grid;
    grid-template-columns: 3fr 11fr;
    grid-column-gap: 1em;
    grid-auto-rows: 98vh;
}

.box {
    border-radius: 3px;
    padding: 1vw;
    background-color: lightgray;
}

.sidebarWrapper {
    display: grid;
    grid-template-rows: 1fr 15fr;
    grid-row-gap: 1em;
}

.slidesWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vh;
    grid-auto-rows: minmax(min-content, max-content);
    overflow-y: scroll;
    font-size: 0.35em;
}

.slidesWrapper div.slide {
    border: 1px solid black;
    border-radius: 3px;
}

.addSlide {
    padding: 5px;
}

.addSlideButton {
    width: 100%;
    height: 100%;
}

label {
    display: block;
    margin: 1em 0;
}

/* slide decoration */

div.header {
    border: 1px solid red;
    text-align: center;
    font-size: 1em;
}

div.description {
    border: 1px solid green;
    word-break: break-word;
    font-size: 1em;
}

div.slide {
    background-color: white;
    border: 2px solid darkgrey;
    border-radius: 3px;
    padding: 2em;
    font-size: 1em;
    min-height: 22vh;
    height: 91%;
}

.slideWrapper {
    max-height: 40vh;
}
